
<div class="{{_generalOptions.classes}} {{_domArrangement.classes}} tile-{{type}} hidden" id="{{cid}}" style="{{#each _domArrangement.styles}}{{@key}}:{{this}}; {{/each}}">
    <div class="tile-content" style="background-color:#{{color}};">
        <div class="tile-imagecontainer">
            <img src="{{randomImage}}" />
        </div>
        <div class="tile-description">
            <h2>{{{title}}}</h2>
            <p>{{subtitle}}</p>
        </div>
    </div>
</div>

